.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

  .navbar__selector {
    display: flex;
    gap: 10px;
  }

  .navbar__button-prev, .navbar__button-next {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}