.event-modal {
  &-edit {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    width: 600px;
    background-color: white;
    padding: 16px 32px 24px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    outline: none;

    @media (max-width: 767px) {
      width: 90vw;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-handle {
    display: flex;
    gap: 10px;
    justify-content: right;
  }

  &-input {
    padding: 10px;
    width: 100%;
  }

  &-label {
    margin-bottom: 10px;
  }

  &-weather-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    h5 {
      text-transform: uppercase;
    }
  }

  &-time-selector {
    display: flex;
    justify-content: space-between;
  }

  &-error {
    color: red;
    text-transform: uppercase;
  }
}