@import "@/styles/common.scss";
@import "@/components/Navbar/styles.scss";
@import "@/components/Calendar/styles.scss";
@import "@/components/Calendar/Header/styles.scss";
@import "@/components/Calendar/Day/styles.scss";
@import "@/components/Event/styles.scss";
@import "@/components/EventModal/styles.scss";

html,
body {
  margin: 0;
  color: $tx-color-primary;
  font-family:  $font-family-primary;
  font-size: $space-small;
  line-height: 1.4;

  > div {
    margin-top: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $tx-color-primary;
  line-height: 1.1;

  + * {
    margin-top: 0.5rem;
  }
}

strong {
  color: $tx-color-primary;
}

li {
  margin-top: 0.25rem;
}

.container {
  margin: 2rem $font-size-regular;
}

.readme {
  width: 800px;
  margin: 2rem calc((100vw - 800px) / 2);
}

.counter {
  $buttonBg: #003874;
  $buttonBgLight: #325f8f;
  $buttonBgDark: #003268;
  $buttonTextColor: #e5ebf1;

  button {
    display: inline-block;
    margin-right: 0.8rem;
    margin-bottom: 1.2rem;
    padding: 0.8rem 1.2rem;
    overflow: hidden;
    color: $buttonTextColor;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.0325rem;
    text-transform: lowercase;
    text-decoration: none;

    background: $buttonBg;
    border: none;
    border-color: none;
    border-radius: 0.8rem;
    -webkit-box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.52);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.52);

    cursor: pointer;
    transition: all ease-in-out 0.3s;
    transition-property: background, transform;

    &:active,
    &:focus,
    &:hover {
      outline: none;
      background: $buttonBgLight;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}